{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <div class="tt-logo">
      <img src="{% static 'tt.jpg'%}">
    </div>
    <h1>Welcome to TT Storytime!</h1>
  </div>
  <div>
    <p>
      Team,
    </p>
    <p>
      We just wrapped up a great [Noun 1] and wanted to report back.
    </p>
    <p>
      Over the last two days we spent some [Noun 2] together,
      [Verb 1] the high-level state of the business, and talked
      through what [Noun 3] might have in store for us.
      We bounced a number of
      [Adjective 1] questions around
      [Noun 4] for
      [Noun 3].
    </p>
    <p>
      We didn't make any final [Noun 5] as there's a lot of work
      left to be eaten, but we were happy to find broad
      [Noun 6] among the group across the range of
      [Adjective 1] questions we
      [Verb 2].
    </p>
    <p>
      More than anything, we came away so [Verb 4] about what
      [Noun 3] can bring!  We have an enormous
      [Noun 7] to build a product that is new in the world
      and red for our
      [Noun 8].  We have much work to do to
      [Verb 5], but the path is clearer than ever.
    </p>
    <p>
      We couldn't be more enthusiastic about locking arms together
      with all of you over the next many years to make our collective
      dream a reality!
    </p>
  </div>
</div>
{% endblock %}
