{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <div class="tt-logo">
      <img src="{% static 'tt.jpg'%}">
    </div>
    <h1>Welcome to TT Storytime!</h1>
  </div>
  <div>
  1. 
    <p>Once upon a time, there was a Thumbtack (Noun 1).<p>
    <p>She decided to (Verb 1)
    the make (Noun 2)
    (Adjective 1).</p>
    <p>But how will I (Verb 2)? She wondered.</p>
    <p>By (Verb 3)
    the (Noun 3),
    her (Noun 4) answered.</p>
  </div>
  <div>
  2.
    <p>Once upon a time, there was a Thumbtack (Noun 1).<p>
    <p>She decided to (Verb 1)
    the make (Noun 2)
    (Adjective 1).</p>
    <p>But how will I (Verb 2)? She wondered.</p>
    <p>By (Verb 3) the (Noun 3),
    her (Noun 4) answered.</p>
  </div>

</div>
{% endblock %}
